body {
    font-family: 'Microsoft Yahei', '微软雅黑', Helvetica, 'Hiragino Sans GB', Arial, sans-serif;
    overflow: hidden;
    font-size: 16px;
    user-select: none;
}
@media all and (max-width:1400px) {
    body {
        font-size: 12px;
    }
}
.primary {
    background-color: #337ab7;
    border-color: #2e6da4;
}
.text-primary {
    color: #286090;
}
.success {
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.text-success {
    color: #5cb85c;
}
.info {
    background-color: #5bc0de;
    border-color: #46b8da;
}
.text-info {
    color: #5bc0de;
}
.warning {
    background-color: #f0ad4e;
    border-color: #eea236;
}
.text-warning {
    color: #f0ad4e;
}
.danger {
    background-color: #d9534f;
    border-color: #d43f3a;
}
.text-danger {
    color: #d9534f;
}
.hidden {
    display: none !important;
}
.in-line {
    display: inline-block;
    margin: 0.1em 0.5em;
}
.actived-container {
    z-index: 100;
}
.btn {
    background-color: #44cff6;
    color: #fff;
    border: 3px;
    border-radius: 3px;
    box-shadow: 3px 3px 5px #d5d5d5;
    cursor: pointer;
}
.btn:hover {
    background-color: #0a7ff7;
    box-shadow: 3px 3px 5px #d5d5d5;
}
.btn.active, .btn:active {
    background-color: #0a7ff7;
    box-shadow: 3px 3px 5px #d5d5d5 inset;
}
.btn.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.v-flip {
    transform: rotateY(180deg);
}
.h-flip {
    transform: rotateX(180deg);
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: default;
}
li.disabled {
    background-color: #313743 !important;
    cursor: not-allowed !important;
}
table {
    width: 98%;
    padding: 0 2em;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
}
table tr:nth-child(odd) {
    background-color: #eee;
}
table tr:nth-child(even) {
    background-color: #fff;
}
.arrow_box {
    animation: glow 800ms ease-out infinite alternate;
}
@keyframes glow {
    0% {
        border-color: #933;
        box-shadow: 0 0 10px rgba(255, 0, 0, .4), inset 0 0 5px rgba(255, 0, 0, .2), 0 1px 0 #933;
    }
    100% {
        border-color: #f66;
        box-shadow: 0 0 28px rgba(255, 0, 0, .8), inset 0 0 10px rgba(255, 0, 0, .6), 0 1px 0 #f66;
    }
}
@keyframes rotate-360 {
    from {
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
main, main>article {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #FFF;
}
main>article.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(135deg, #415197, #352F64);
}
main>.loading-container>.loader-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -120px 0 0 -120px;
    width: 240px;
    height: 240px;
}
main>.loading-container .loader-ring-light {
    width: 240px;
    height: 240px;
    -moz-border-radius: 240px;
    -webkit-border-radius: 240px;
    border-radius: 240px;
    -moz-box-shadow: 0 4px 0 #00abf2 inset;
    -webkit-box-shadow: 0 4px 0 #00abf2 inset;
    box-shadow: 0 4px 0 #00abf2 inset;
    animation: rotate-360 2.5s linear infinite;
}
main>.loading-container .loader-ring-track {
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    height: 240px;
    -moz-border-radius: 240px;
    -webkit-border-radius: 240px;
    border-radius: 240px;
    -moz-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3) inset;
    -webkit-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3) inset;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3) inset;
}
main>article.navigation-container {
    text-align: center;
    padding-top: 5em;
    background-image: linear-gradient(65deg, #B1B479, #86C166);
}
main>article.navigation-container>div {
    font-size: 3em;
    line-height: 1.5em;
    color: #FFFFFB;
    margin-bottom: 0.5em;
    padding: 0 8%;
}
main>article.navigation-container>div>a.title-link {
    font-size: 0.6em;
    cursor: pointer;
}
main>article.navigation-container>div>a.title-link.left {
    float: left;
}
main>article.navigation-container>div>a.title-link.right {
    float: right;
}
main>article.navigation-container>section {
    display: inline-block;
    width: 60%;
    min-width: 30em;
    height: 75%;
    min-height: 10em;
    overflow-x: hidden;
    overflow-y: auto;
    background-image: linear-gradient(115deg, #86C166, #B1B479);
    border-radius: 0.5em;
    box-shadow: 1em 1em 3em #7BA23F;
}
main>article.navigation-container>section>button {
    font-size: 2em;
    width: 10em;
    height: 3em;
    line-height: 3em;
    color: #FFFFFB;
    margin: 1em 2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
main>article.playground-container>section.playground-controlbar {
    width: 100%;
    height: 3em;
    margin-top: 1em;
    padding: 0 3em;
    line-height: 2em;
}
main>article.playground-container>section.playground-controlbar>.btn {
    font-size: 1.5em;
    padding: 0.2em 0.8em;
    margin: 0.2em 0.5em;
}
main>article.playground-container .playground-canvas {
    width: auto;
    height: 70%;
    float: right;
    margin: 2em;
    border: 1px solid #000;
    border-radius: 0.2em;
}
main>article.playground-container .gait-report-container {
    margin: 3em 2em auto 2em;
    padding: 1em;
    max-width: 70%;
    min-width: 60%;
}
main>article.playground-container .gait-report-container.screen-container {
    max-height: 45%;
    overflow: auto;
    margin-top: 1em;
}
main>article.playground-container label.prn-note {
    display: none;
}
main>article.playground-container>label.screen-mark {
    display: block;
    width: 75%;
    font-size: 1.2em;
    font-weight: bolder;
    text-align: center;
    /*border-top: 1px solid #000;
    border-bottom: 1px solid #000;*/
}
main>article.playground-container .gait-report-container.screen-container>ul.one-screen {
    display: inline-block;
    text-align: center;
    padding: 0.2em;
    width: 19%;
    border-right: 1px dashed #0ff;
    border-left: 1px dashed #0ff;
}
main>article.playground-container .gait-report-container.screen-container>ul.one-screen>li>img {
    width: 100%;
}
main>article.playground-container .gait-report-container>table.gait-report-table {
    margin: 1em auto;
}
main>article.playground-container .gait-report-container>table.gait-report-table th {
    line-height: 2.1em;
    font-size: 1.3em;
}
main>article.playground-container .gait-report-container>table.gait-report-table tr {
    line-height: 1.8em;
    font-size: 1.2em;
}
main>article.playground-container .gait-report-container>table.gait-report-table tr>td.left {
    text-align: left;
    padding-left: 1em;
}
main>article.playground-container .gait-report-container>table.gait-report-table tr>td.midline {
    border-left: 1px solid #d9d9d9;
}
main>article.playground-container>div.replay-playground {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 79, 79, 0.8);
}
main>article.record-list-container {
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}
main>article.record-list-container>div {
    width: 80%;
    margin: 2em auto;
    max-height: 90%;
    overflow: auto;
}
main>article.record-list-container>div>label.note {
    font-size: 1.8em;
    font-weight: bolder;
    display: block;
    text-align: center;
    line-height: 3em;
}
main>article.record-list-container>div table.gait-report-table a {
    cursor: pointer;
    text-decoration: underline;
    color: #42602D;
}
main>article.record-list-container>div table.gait-report-table a:hover {
    color: #904840;
    background-color: #51A8DD;
}
main>article.record-list-container>div .keep-record-container {
    position: absolute;
    top: 8em;
    right: 10%;
    bottom: 2em;
    left: 10%;
    overflow-y: auto;
    text-align: center;
}
main>article.record-list-container>div .keep-record-container>ul {
    border: 0.1em solid black;
    border-radius: 0.3em;
    background-color: #7db9de;
    display: inline-block;
    padding: 1.5em;
    margin: 0.5em;
}
main>article.record-list-container>div .keep-record-container>ul>li:first-child {
    font-weight: bolder;
    font-size: 1.1em;
    line-height: 1.8em;
}
main>article.record-list-container>div .keep-record-container>ul>li:last-child {
    cursor: pointer;
    text-decoration: underline;
    color: #6a4c9c;
}
main>article.record-list-container>div .keep-record-container>ul>li>ul {
    display: inline-block;
    padding: 0.5em;
    margin: 0.1em;
    width: 12%;
}
main>article.record-list-container>div .keep-record-container>ul>li>ul img {
    width: 100%;
    background-color: #0F2588;
}
main>article.main-container {
    background-color: #0F2588;
    padding: 2em;
}
main>article.main-container>div {
    display: inline-block;
    opacity: 0.3;
    border-radius: 1em;
    padding: 1em;
    overflow: auto;
}
main>article.main-container>div:hover {
    opacity: 0.7;
}
main>article.record-list-container>div.return-button, main>article.main-container>div.return-button {
    position: fixed;
    left: 1.5em;
    top: 1.5em;
    width: 3em;
    height: 3em;
    opacity: 0.3;
    border: 1px solid #0C0C0C;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: url('../assets/images/prev.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;*/
    cursor: pointer;
    padding: 0;
    z-index: 80;
}
main>article.main-container>div.return-button.hide-button {
    top: 5em;
    width: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: url('../assets/images/eye.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;*/
}
main>article.record-list-container>div.return-button:hover, main>article.main-container>div.return-button:hover {
    opacity: 0.5;
}
main>article.main-container>div.heatmap-container {
    width: 100%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    padding: 0;
    overflow: inherit;
}
main>article.main-container>div.heatmap-container:hover {
    opacity: 1;
}
main>article.main-container>div.heatmap-container>.viewer {
    border-right: 1px solid rgba(23, 209, 255, 0.3);
    border-bottom: 1px solid rgba(23, 209, 255, 0.3);
}
main>article.main-container>div.heatmap-container>.viewer>canvas {
    position: absolute;
    left: 0;
    top: 0;
}
main>article.main-container>div.heatmap-container>.viewer.deformed-32 {
    border: none;
}
main>article.main-container>div.heatmap-container>.viewer.deformed-32>canvas {
    width: 100%;
    height: 67%;
    margin-top: 7%;
}
main>article.main-container>div.heatmap-container>.viewer>canvas.heatmap-grid {
    position: inherit;
}
main>article.main-container>div.heatmap-container>.viewer>canvas.body-spliter {
    z-index: 8;
}
main>article.main-container>div.heatmap-container>.viewer>canvas.high-note {
    z-index: 10;
}
main>article.main-container>div.heatmap-container>.viewer>div.data-shower {
    position: fixed;
    background-color: #7db9de;
    border: 1px solid #000;
}
main>article.main-container>div.heatmap-container>.viewer>ul.heatmap-symbol {
    position: absolute;
    right: -2.2em;
    width: 2em;
    text-align: center;
    line-height: 0.75em;
    margin-top: -9.3em;
    z-index: 20;
}
main>article.main-container>div.heatmap-container>.viewer>ul.heatmap-symbol>li:first-child, main>article.main-container>div.heatmap-container>.viewer>ul.heatmap-symbol>li:last-child {
    line-height: 1.2em;
    color: #fff;
}
main>article.main-container>div.scale-container {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 60%;
    max-height: 70%;
    background-color: #aaa;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    z-index: 30;
    overflow: auto;
}
main>article.main-container>div.scale-container div.inline-control-panel {
    margin: 0.3em;
    display: block;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
}
main>article.main-container>div.scale-container canvas.body-spine {
    border: 1px solid #000;
}
main>article.main-container>div.scale-container div.inline-control-panel .btn {
    padding: 0.5em;
    line-height: 1.3em;
    margin: 0 0.5em;
}
main>article.main-container>div.scale-container div.scale-item {
    margin: 0.3em;
    display: inline-grid;
}
main>article.main-container>div.scale-container div.scale-item>label {
    font-weight: bolder;
    display: inline-block;
    width: 8em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0.3em 0.1em;
}
main>article.main-container>div.scale-container div.scale-item>span {
    line-height: 2em;
    font-weight: bolder;
    text-align: center;
}
main>article.main-container>div.scale-container div.scale-item>select {
    height: 2em;
    border: none;
    font-size: 1em;
    width: 12em;
    cursor: pointer;
}
main>article.main-container>div.scale-container .bpc-shower {
    line-height: 1.5em;
    text-align: center;
}
main>article.main-container>div.scale-container .bpc-shower>li>ul>li {
    display: inline-block;
    width: 8em;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
main>article.main-container>div.scale-container .bpc-shower>li:first-child, main>article.main-container>div.scale-container .bpc-shower>li>ul>li:first-child {
    font-weight: bolder;
}
main>article.main-container>div.scale-container img.last-record {
    width: 10em;
    height: 5em;
    margin: 1em;
    background-color: #000;
    border-radius: 0.2em;
}
main>article.main-container>div.scale-container>.viewer>ul.statistics-container {
    line-height: 2em;
}
main>article.main-container>div.scale-container>.viewer>ul.statistics-container>li {
    display: inline-block;
    margin-right: 1em;
}
main>article.main-container>div.scale-container>.viewer>ul.statistics-container>li>label {
    font-weight: bolder;
    margin-right: 0.5em;
}
main>article.main-container>div.scale-container>.viewer>ul.statistics-container>li>span {
    margin-left: 0.3em;
}
main>article.main-container>div.control-container {
    position: fixed;
    top: 0;
    left: 7em;
    max-width: 40%;
    max-height: 40%;
    background-color: rgba(187, 187, 187, 0.3);
    opacity: 1;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 30;
    overflow: auto;
}
main>article.main-container>div.control-container>label.fall-down-message {
    margin-left: 1em;
    font-size: 1.3em;
    line-height: 1.8em;
    font-weight: bold;
}
main>article.main-container>div.control-container:hover {
    background-color: rgba(187, 187, 187, 0.7);
}
main>article.main-container>div.control-container>.viewer {
    padding: 0 0.8em;
    display: inline-block;
    margin: 1em;
}
main>article.main-container>div.control-container>.viewer>label, main>article.main-container>div.control-container>.viewer>span {
    line-height: 1.5em;
    font-size: 1.2em;
    cursor: default;
    opacity: 0.8;
}
main>article.main-container>div.control-container>.viewer>label {
    margin: 0 0 0 0.8em;
    font-weight: bold;
}
main>article.main-container>div.control-container>.viewer>span {
    margin: 0 0.5em 0 0;
}
main>article.main-container>div.control-container>.viewer span.timmer {
    font-size: 1.8em;
    line-height: 1.5em;
}
main>article.main-container>div.control-container>.viewer span.timmer:after {
    content: ':';
}
main>article.main-container>div.control-container>.viewer span.timmer.timmer-last:after {
    content: '';
}
main>article.main-container>div.control-container>.viewer .btn-show-data {
    padding: 0.5em;
    line-height: 1.6em;
}
main>article.main-container>div.control-container>.viewer .btn-control-gait {
    margin-top: 0.5em;
    line-height: 1.5em;
    font-size: 1.2em;
    min-width: 8em;
}
main>article.main-container>div.config-container {
    position: fixed;
    right: 0;
    bottom: 0;
    max-width: 30%;
    max-height: 30%;
    background-color: #ccc;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    z-index: 30;
    overflow: auto;
}
main>article.main-container>div.config-container>.viewer label {
    margin: 0.1em 0.5em 0.2em 1em;
    display: inline-block;
    font-weight: bold;
    width: 7em;
}
main>article.main-container>div.config-container>.viewer select {
    width: 6em;
    height: 2em;
    border: 1px solid #9da3b1;
    border-radius: 3px;
    font-size: 1.05em;
}
main>article.main-container>div.config-container>.viewer .check-box {
    width: 1.7em;
    height: 1.7em;
    border: 1px solid #9da3b1;
    border-radius: 3px;
    margin: 0;
    vertical-align: middle;
}
main>article.main-container>div.info-container {
    position: fixed;
    bottom: 0;
    left: 0;
    max-width: 50%;
    max-height: 10%;
    background-color: #ddd;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    z-index: 30;
    overflow-y: auto;
}
main>article.main-container>.info-container>label, main>article.main-container>.info-container>span {
    line-height: 1.5em;
    margin: 0.1em 0.5em;
}
main>article.main-container>.info-container>label {
    font-weight: bolder;
    margin-right: -0.5em;
    margin-left: 0.8em;
}