body {
    font-family: 'PingFangSC-Regular', 'Microsoft Yahei', '微软雅黑', Helvetica, 'Hiragino Sans GB', Arial, sans-serif;
    overflow: hidden;
    font-size: 16px;
    user-select: none;
    color: #1F2B41;
}
@media all and (max-width:1400px) {
    body {
        font-size: 12px;
    }
}
button, select, textarea {
    outline: none;
}
.primary {
    background-color: #337ab7;
    border-color: #2e6da4;
}
.text-primary {
    color: #286090;
}
.success {
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.text-success {
    color: #5cb85c;
}
.info {
    background-color: #5bc0de;
    border-color: #46b8da;
}
.text-info {
    color: #5bc0de;
}
.warning {
    background-color: #f0ad4e;
    border-color: #eea236;
}
.text-warning {
    color: #f0ad4e;
}
.important-warning {
    background-color: #f0ad4e !important;
    border-color: #eea236 !important;
}
.danger {
    background-color: #d9534f;
    border-color: #d43f3a;
}
.text-danger {
    color: #d9534f;
}
.hidden {
    display: none !important;
}
.in-line {
    display: inline-block;
    margin: 0.1em 0.5em;
}
.in-line>label {
    margin-right: 1em;
}
.actived-container {
    z-index: 100;
}
.btn {
    background-color: #2499F2;
    color: #FFF;
    border: 1px solid #017BDA;
    border-radius: 3px;
    box-shadow: 3px 3px 5px #d5d5d5;
    cursor: pointer;
}
.btn:hover {
    background-color: #0a7ff7;
    box-shadow: 3px 3px 5px #d5d5d5;
}
.btn.active, .btn:active {
    background-color: #0a7ff7;
    box-shadow: 3px 3px 5px #d5d5d5 inset;
}
.btn.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.v-flip {
    transform: rotateY(180deg);
}
.h-flip {
    transform: rotateX(180deg);
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: default;
}
li.disabled {
    background-color: #313743 !important;
    cursor: not-allowed !important;
}
table {
    width: 98%;
    padding: 0 2em;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
}
table>thead>tr, table>thead>tr:hover {
    background-color: #E3E8EF !important;
}
table tr:nth-child(odd) {
    background-color: #FFF;
}
table tr:nth-child(even) {
    background-color: #E3E8EF;
}
.arrow_box {
    animation: glow 800ms ease-out infinite alternate;
}
@keyframes glow {
    0% {
        border-color: #933;
        box-shadow: 0 0 10px rgba(255, 0, 0, .4), inset 0 0 5px rgba(255, 0, 0, .2), 0 1px 0 #933;
    }
    100% {
        border-color: #f66;
        box-shadow: 0 0 28px rgba(255, 0, 0, .8), inset 0 0 10px rgba(255, 0, 0, .6), 0 1px 0 #f66;
    }
}
@keyframes rotate-360 {
    from {
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes shift {
    0% {
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    25% {
        -moz-transform: translate(5px);
        -ms-transform: translate(5px);
        -webkit-transform: translate(5px);
        transform: translate(5px);
    }
    50% {
        -moz-transform: translate(5px, 5px);
        -ms-transform: translate(5px, 5px);
        -webkit-transform: translate(5px, 5px);
        transform: translate(5px, 5px);
    }
    75% {
        -moz-transform: translate(0px, 5px);
        -ms-transform: translate(0px, 5px);
        -webkit-transform: translate(0px, 5px);
        transform: translate(0px, 5px);
    }
    100% {
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}
.left {
    display: inline-block;
    float: left;
}
.right {
    display: inline-block;
    float: right;
}
article.over-lay, article.over-lay-disconnect {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
}
article.over-lay.mongolian-edition {
    background-color: rgba(0, 0, 0, 0.1);
}
article.over-lay-disconnect {
    background-color: rgba(0, 0, 0, 0.5);
}
article.over-lay-disconnect>div>div.note {
    text-align: center;
    font-size: 1.2em;
    color: #FFF;
}
article.over-lay>div.confirm-container {
    display: inline-block;
    background-color: #FFF;
    box-shadow: 0px 2px 15px 0px rgba(154, 168, 179, 0.56);
    border-radius: 1em;
    color: #9AA8B3;
    text-align: center;
    padding: 3.8em 5.2em 2.6em 5.2em;
}
article.over-lay>div.confirm-container>div.title {
    font-size: 1.2em;
    color: #2499F2;
    line-height: 2em;
}
article.over-lay>div.confirm-container>div.sub-title {
    font-size: 0.8em;
    color: #6F7C95;
    margin-top: 0.5em;
}
article.over-lay>div.confirm-container>div.container {
    margin-top: 3em;
}
article.over-lay>div.confirm-container>div.container button.btn {
    line-height: 2.5em;
    color: #FFF;
    border-radius: 0.75em;
    margin: 0.1em 0.5em;
    width: 6em;
}
article.over-lay>div.confirm-container>div.container button.btn:first-child {
    background-color: #9AA8B3;
}
main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #EDF2F8;
}
main>.nav-container {
    display: inline-block;
    width: 15%;
    height: 100%;
    background: url('../assets/images/nav-bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
main>.nav-container .head-logo {
    width: 70%;
    margin: 2em 15%;
}
main>.nav-container .copy-right {
    display: block;
    text-align: center;
    position: absolute;
    bottom: 0.2em;
    left: 0;
    width: 15%;
    color: #FFF;
    font-size: 1.2em;
}
main>.nav-container>ul.nav {
    margin: 2em 1em;
    font-size: 1.2em;
    color: #FFF;
}
main>.nav-container>ul.nav>li {
    padding: 0.8em;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 0.3em;
    margin-top: 1.2em;
}
main>.nav-container>ul.nav>li.actived, main>.nav-container>ul.nav>li:hover {
    background-color: #3262C1;
}
main>.nav-container>ul.nav>li>img {
    width: 10%;
    margin-right: 0.5em;
    vertical-align: middle;
}
main>.nav-container>ul.nav>li>span {
    vertical-align: middle;
    margin-left: 0.8em;
}
main>.main-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 15%;
    overflow: hidden;
}
main>.main-container>.title {
    padding: 1.5em 2em;
    background-color: #FFF;
    border-top: 1px solid #ECEFF1;
}
main>.main-container>.title>label {
    font-size: 1.6em;
}
main>.main-container>.title>.right>.viewer {
    vertical-align: middle;
    display: inline-block;
}
main>.main-container>.title>.right>.viewer>.in-line {
    line-height: 1.5em;
}
main>.main-container>.title>.right>.viewer>.in-line>label {
    font-size: 1.2em;
    line-height: 1.5em;
}
main>.main-container>.title>.right>.viewer>.in-line>select {
    width: 8em;
    height: 2.5em;
    border: 1px solid #D3D6DF;
    border-radius: 0.3em;
    background-color: #F8F9FB;
}
main>.main-container>.title>.right>.link {
    vertical-align: middle;
    display: inline-block;
}
main>.main-container>.title>.right>.link>img, main>.main-container>.title>.right>.link>span {
    vertical-align: middle;
    margin-left: 0.8em;
}
main>.main-container>.heatmap-container, main>.main-container>.record-list-container, main>.main-container>.scale-container, main>.main-container>.playground-container {
    padding: 1em;
    position: absolute;
    top: 8%;
    right: 0;
    bottom: 0;
    left: 0;
}
main>.main-container>.heatmap-container>.container {
    margin: 0.2em;
    padding: 0.8em;
    border-radius: 0.2em;
    display: inline-block;
}
main>.main-container>.heatmap-container>.container>.viewer>canvas {
    position: absolute;
    left: 0;
    top: 0;
}
main>.main-container>.heatmap-container>.container>.viewer>canvas.high-note {
    z-index: 10;
}
main>.main-container>.heatmap-container>.container>.viewer>ul.heatmap-symbol {
    position: absolute;
    top: 80%;
    right: -3em;
    width: 1.2em;
    text-align: center;
    line-height: 0.75em;
    z-index: 10;
}
main>.main-container>.heatmap-container>.container>.viewer>ul.heatmap-symbol>li:first-child, main>.main-container>.heatmap-container>.container>.viewer>ul.heatmap-symbol>li:last-child {
    line-height: 1.5em;
    color: #000;
}
main>.main-container>.heatmap-container>.container>.viewer>canvas.heatmap-grid {
    border: 1px solid #2EA5FF;
    position: absolute;
    left: 0;
}
main>.main-container>.heatmap-container>.controller {
    margin: 0.2em;
    vertical-align: middle;
}
main>.main-container>.heatmap-container>.controller:after {
    clear: both;
}
main>.main-container>.heatmap-container>.controller div {
    background-color: #FFF;
    height: 10%;
    vertical-align: middle;
}
main>.main-container>.heatmap-container>.controller>div.left {
    background-color: transparent;
    width: 55%;
    float: none;
}
main>.main-container>.heatmap-container>.controller>div.left>.PUT-name {
    margin-bottom: 0.1em;
    padding-left: 2em;
    line-height: 2em;
}
main>.main-container>.heatmap-container>.controller>div.left>.PUT-name>label:first-child {
    border-left: 0.35em solid #2499F2;
    padding-left: 0.5em;
}
main>.main-container>.heatmap-container>.controller>div.left>div.info {
    padding: 1em 0 0.3em 0;
}
main>.main-container>.heatmap-container>.controller>div.left>div.info>div {
    margin-left: 18%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
main>.main-container>.heatmap-container>.controller>div.left>div.info>div>img, main>.main-container>.heatmap-container>.controller>div.left>div.info>div>span, main>.main-container>.heatmap-container>.controller>div.right>img, main>.main-container>.heatmap-container>.controller>div.right>span {
    vertical-align: middle;
    font-size: 1.2em;
}
main>.main-container>.heatmap-container>.controller>div.left>div.info>div div.scale {
    color: #3D485B;
    font-size: 1.5em;
    line-height: 1.8em;
}
main>.main-container>.heatmap-container>.controller>div.right {
    width: 35%;
    float: none;
    margin-left: 3.4%;
    padding: 0.7em 0;
    text-align: center;
}
main>.main-container>.heatmap-container>.controller>div.right>div {
    padding: 0.3em 0 0.5em 0;
    font-size: 1.5em;
}
main>.main-container>.heatmap-container>.controller span.timmer {
    font-size: 1.3em;
    line-height: 1.5em;
    color: #6F7C95;
}
main>.main-container>.heatmap-container>.controller span.timmer:after {
    content: ':';
}
main>.main-container>.heatmap-container>.controller span.timmer.timmer-last:after {
    content: '';
}
main>.main-container>.scale-container>.viewer {
    margin: 0.3em 1em;
}
main>.main-container>.scale-container>.viewer>label.note {
    display: block;
    font-size: 1.8em;
    line-height: 2em;
}
main>.main-container>.scale-container>.viewer>.scale-desc, main>.main-container>.scale-container>.viewer>.inline-control-panel {
    margin: 1em;
    line-height: 2.5em;
}
main>.main-container>.scale-container>.viewer>.inline-control-panel>.btn {
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 0.1em 0.8em;
    margin: 0 0.5em;
}
main>.main-container>.scale-container>.viewer>.scale-table {
    max-height: 60%;
    overflow-y: auto;
}
main>.main-container>.scale-container>.viewer>.scale-table>table {
    color: #6F7C95;
}
main>.main-container>.scale-container>.viewer>.scale-table>table>thead {
    color: #1F2B41;
}
main>.main-container>.scale-container>.viewer>.scale-table>table>tbody>tr {
    cursor: pointer;
}
main>.main-container>.scale-container>.viewer>.scale-table>table th {
    line-height: 2.3em;
    font-size: 1.2em;
    min-width: 4em;
}
main>.main-container>.scale-container>.viewer>.scale-table>table td {
    line-height: 3em;
    text-align: left;
    padding-left: 5%;
}
main>.main-container>.scale-container>.viewer>.scale-desc {
    text-align: center;
}
main>.main-container>.scale-container>.viewer>.scale-desc>label {
    font-size: 1.1em;
    margin: 0 0.5em;
}
main>.main-container>.scale-container>.viewer>.scale-desc>span {
    margin-left: 0.3em;
}
main>.main-container>.record-list-container>div.record-main-container>div.title {
    line-height: 2.2em;
}
main>.main-container>.user-list-container>div.record-main-container>div.title>label.note, main>.main-container>.record-list-container>div.record-main-container>div.title>label.note {
    font-size: 1.8em;
    line-height: 2em;
    margin-left: 1em;
}
main>.main-container>.user-list-container>div.record-main-container>div.title>span.subtitle {
    font-size: 1.2em;
    line-height: 3em;
    margin-left: 1em;
    color: #6F7C95;
}
main>.main-container>.record-list-container>div.record-main-container>div.title>span {
    line-height: 3.5em;
    color: #6F7C95;
    padding-left: 2em;
}
main>.main-container>.record-list-container>div.record-main-container>div.title>div.filter-container {
    float: right;
    font-size: 1.1em;
    line-height: 3em;
    margin-right: 1em;
}
main>.main-container>.record-list-container>div.record-main-container>div.title>div.filter-container>span {
    margin-right: 1em;
}
main>.main-container>.record-list-container>div.record-main-container>div.title>div.filter-container>.filter-head {
    color: #6F7C95;
    margin-right: 0.5em;
    line-height: 2em;
    /*animation: shift 2s ease-out infinite alternate;*/
}
main>.main-container>.record-list-container>div.record-main-container>div.title>div.filter-container>input {
    width: 10em;
    line-height: 2em;
    border: 1px solid #D3D6DF;
    border-radius: 1em;
    background-color: #F8F9FB;
    padding-left: 1.2em;
}
main>.main-container>.record-list-container>div.record-main-container>div.table-container {
    max-height: 85%;
    overflow-y: auto;
}
main>.main-container div.record-main-container table.keep-record-table, main>.main-container>.playground-container>table {
    margin: 1.5em auto;
    color: #6F7C95;
}
main>.main-container div.record-main-container table.keep-record-table>thead, main>.main-container>.playground-container>table>thead {
    color: #1F2B41;
}
main>.main-container div.record-main-container table.keep-record-table>tbody>tr {
    cursor: pointer;
}
main>.main-container div.record-main-container table.keep-record-table>tbody>tr:hover {
    background-color: #E1F4FF;
}
main>.main-container div.record-main-container table.keep-record-table th, main>.main-container>.playground-container>table th {
    line-height: 2.3em;
    min-width: 4em;
}
main>.main-container div.record-main-container table.keep-record-table td, main>.main-container>.playground-container>table td {
    line-height: 3em;
}
main>.main-container>.playground-container>.playground-controlbar {
    text-align: center;
    margin-top: 0.8em;
}
main>.main-container>.playground-container>.playground-controlbar .btn {
    line-height: 3em;
    border-radius: 0.5em;
    padding: 0 2em;
    margin: 0.1em 0.8em;
    min-width: 5em;
}
main>.main-container>.playground-container>label {
    font-size: 1.5em;
    line-height: 2em;
    padding-left: 0.6em;
}
main>.main-container>.playground-container>div.detail-info {
    max-height: 70%;
    overflow-y: auto;
    text-align: center;
}
main>.main-container>.playground-container>div.detail-info>div {
    display: inline-block;
    background-color: #FFF;
    padding: 0.5em;
    width: 15%;
    margin: 0.8em;
    text-align: center;
}
main>.main-container>.playground-container>div.detail-info>div>img {
    width: 100%;
    border-radius: 0.3em;
    background-color: #EDF2F8;
    cursor: pointer;
}
main>.main-container>.playground-container>div.detail-info>div>img.shown {
    position: absolute;
    top: 0.3em;
    left: 1em;
    width: 98%;
    border: 1px solid #000;
    background-color: #58B2DC;
}
main>.main-container>.playground-container>div.detail-info>div>label {
    display: block;
}